@import "styles/lib";

.nav {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  padding: rem(24) rem(64);
  z-index: 999;
}
