@import "styles/lib";

.button {
  display: flex;
  padding: rem(8) rem(12);
  border-radius: rem(4);
  background-color: white;
  border: rem(1) solid #3333;
  margin-bottom: rem(16);
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: rem(14);
}
